GROQ_API_KEY=<YOUR_GROQ_API_KEY>
MONGO_URI=<YOUR_MONGO_URI>
JWT_SECRET=<YOUR_JWT_SECRET>
CLIENT_ID=<YOUR_CLIENT_ID>
CLIENT_SECRET=<YOUR_CLIENT_SECRET>
REFRESH_TOKEN=<YOUR_REFRESH_TOKEN>
EMAIL_USER=<YOUR_EMAIL_USER>
PINECONE_API_KEY=<YOUR_PINECONE_API_KEY>
PINECONE_INDEX_NAME=<YOUR_PINECONE_INDEX_NAME>

GOOGLE_GENAI_API_KEY=<YOUR_GOOGLE_GENAI_API_KEY>

FRONTEND_URL=<YOUR_FRONTEND_URL>